.checkout-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }

  .cart-items, .checkout-form {
    width: 55%;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
h1{
    margin-left: 20px;
    color: #ff007f;
  
}
  h2 {
    color: #ff007f;
    margin-bottom: 15px;
    text-align: center;
  }

  label {
    display: block;
    margin: 8px 0 5px;
    font-weight: bold;
  }

  input, select, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #btn button {
    width:150px;
    height: 40px;
    background-color: #ff007f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 5px;
    align-items: center;
    margin-left: 100px;
  }

  button:hover {
    background-color: #e60073;
  }

  