
.nav {
    display: flex;
    justify-content: start;
    background-color: black;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav a {
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-weight: 500;
}

.nav li {
    list-style: none;
    position: relative;
}


.dropdown_category {
    position: relative;
}

.sub_menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 1000px; 
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}


.dropdown_category:hover .sub_menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


.sub_menu ul {
    padding: 15px;
    width: 200px; 
}

.sub_menu ul li a {
    display: block;
    padding: 5px 0;
    color: rgb(46, 45, 45);
    transition: color 0.3s, transform 0.3s;
}


.sub_menu ul li a:hover {
    color: #ff4081;
    transform: translateX(5px);
}


.dropdown_category > ul > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff4081;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}

.dropdown_category > ul > li:hover > a::before {
    transform: scaleX(1);
    transform-origin: left;
}


@media (max-width: 768px) {
    .sub_menu {
        width: 100%;
        flex-direction: column;
    }

    .sub_menu ul {
        width: 100%;
    }
}
